@media (min-width: 751px){

    .main__text{
        font-size: 5rem;
    }

    .notification-form__wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
    }

    #notificaton-form__email{
        width: 97%;
    }
    
    .notification-form__button{
        width: 40%;
        margin-bottom: 0;
        align-self: flex-start;
    }

    .notification-form__validation-area{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #notification-form__error-message{
        display: none;
        margin-left: 2rem;
        font-size: 1.4rem;
    }
}

